@import 'settings/z-index-variables';
@import 'settings/variables';
@import 'framework/variables';

@import 'framework/components';

@import 'settings/breakpoint-variables';

@import 'utilities/functions';
@import 'utilities/mixins';
@import 'utilities/shared';
@import 'utilities/typography';

@import 'vendor/select2';

@import 'framework/overrides';
@import 'bower_components/highlightjs/styles/github';

body { margin-top: 70px; }

.video-container {
  position:relative;
  padding-bottom: 66.25%;
  padding-top: 30px;
  height: 0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
