<div class="container">
  <ul class="list-group col-xs-12">
    <li class="list-group-item-dupa list-group-item">
      {{#link-to "webinars/new"}}
        <div class="btn btn-default">
          Create new
        </div>
      {{/link-to}}
    </li>
    {{#each webinar in proxyWebinars}}
      {{webinars/components/webinar-row webinar=webinar toggle="toggleSubscription"}}
    {{/each}}
  </ul>
</div>
