<form>
  <div class="form-group">
    <label>Name:</label>
    {{input value=model.name class="form-control"}}
  </div>
  <input type="submit" {{action "save"}} class="btn btn-default" value="Submit"/>
</form>
