<div class="well container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{model.name}}</h2>
    </div>
  </div>
  <div class="row well">
    <div class="col-xs-1">
      <span class="badge">{{model.state}}</span>
    </div>
    <div class="col-xs-11">
      Subscribed: {{model.usersEmailList}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 well">
      {{model.description}}
    </div>
  </div>
</div>
